@font-face {
    font-family: "MyriadProRegular";
    src: 
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "RobotoThin";
    src: 
    url("../fonts/RobotoThin/Roboto-Thin.woff") format("woff"),
    url("../fonts/RobotoThin/Roboto-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}