@media screen and ( max-width: 1366px )
    html
        font-size: 12px
@media screen and ( max-width: 1100px )
    .nav
        &__item
            margin-right: 2.50rem
@media screen and ( max-width: 991px )
    html
        font-size: 11px
    .nav
        display: none
    .logo
        &__icon
            margin-bottom: -0.6rem
@media screen and ( max-width: 732px )
    .hero
        background:  url(../img/hero-bg.jpg) no-repeat top 20px right -350px / cover
        &__title
            font-size: 51px
@media screen and ( max-width: 555px )
    .hero
        &__title
            font-size: 35px
        &__subtitle
            font-size: 2.02rem
        &__button
            padding: 16px 110px
    .button-block
        &__description
            display: none
@media screen and ( max-width: 390px )
    .logo
        font-size: 1.31rem
        &__icon
            margin-bottom: -0.9rem
    .contacts
        &__phone
            font-size: 1.41rem
    .hero
        &__subtitle
            font-size: 1.92rem
        &__description
            font-size: 1.34rem
        &__button
            padding: 16px 90px
@media screen and ( max-width: 360px )
    html
        font-size: 10px
    .hero
        &__title
            font-size: 28px
        &__subtitle
            font-size: 
        &__button
            padding: 16px 70px